body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-image: url('/images/rpsls.png');
}

a {
  color: #00B7FF;
}

button {
    padding: 15px 8px;
    margin: 5px;
    font: 26px Rockwell;
}

#drawbtn {
    text-align: center;
}

#weaponsdiv {

}

#rockbtn {
    background: url('/images/boulder2.jpg');
                /*might be background-image*/

}

div {
    font: 20px Rockwell;
}

#countdown {
    font: 40px Rockwell;
}